@import "bourbon/bourbon";

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  .nav_item{
    font-size: em(20px);
  }
  .owl-pagination{
    margin-top: 0;
  }
  .slide_description{
    margin-bottom: 45px;
  }
  .services_item__description{
    padding: 0 10%;
  }
  .section_services{
    margin-top: 0;
  }
  .slogan {
    font-size: 42px;
    line-height: 45px;
  }
  .slogan-img_bg{
    top: -50px;
    left: 0;
    width: 100%
  }
  .section_reviews .owl-prev{
    left: 9%;
  }
  .section_reviews .owl-next{
    right: 77%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .header{
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
  }
  .logo-wrap{
    margin: 20px 0;
  }
  .nav{
    margin-bottom: 20px;
  }
  .phone.active .arrow-bottom{
    left: 13%;
  }
  .map.active .arrow-bottom{
    left: 47.5%;
  }
  .mail.active .arrow-bottom{
    left: 81%;
  }
  .slide_img-wrap{
    display: none;
  }
  .slide_description-wrap{
    padding-top: 0;
    padding-left: 40px;
  }
  .slide_description{
    margin-bottom: 40px;
  }
  .order{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .owl-pagination{
    margin-left: 0;
    text-align: center;
  }
  .section_description{
    line-height:em(20px);
  }
  .slogan{
    margin-top: 75px;
  }
  .slogan-img_bg{
    display: none;
  }
  .slogan-img_pc{
    display: block;
  }
  .section_portfolio{
    padding-bottom: 30px;
  }
  .reviews-item_author-name{
    display: block;
    margin-bottom: 10px;
  }
  .section_reviews .owl-prev{
    left: 13%;
  }
  .section_reviews .owl-next{
    right: 70%;
  }
  .contact-map{
    padding-right: 0;
  }
  .address{
    &-block{
      text-align: center;
    }
  }
  .callback {
    &-name {
      display: table;
      margin: 0 auto;
      margin-bottom: 20px;
      background: url('../img/letter.png') left center no-repeat;
    }
  }
  .btn_send{
    float: none;
    display: block;
    margin: 0 auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .header{
    padding-top: 45px;
  }
  .button-menu{
    display: block;
  }
  .nav{
    position: fixed;
    top: -197px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    background-color: #47667e;
    z-index:10;
    transition: all 0.8s ease;
  }
  .nav.active{
    top: 0;
    transition: all 0.8s ease;
  }
  .nav_item{
    display: block;
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
  }
  .nav_item:hover,
  .nav_item.active{
    margin-right: 0;
  }
  .nav_item:first-child {
    margin: 0;
  }
  .owl-prev{
    left: 0;
  }
  .owl-next{
    right: 0;
  }
  .section-slider{
    padding-top: 40px;
    text-align: center;
  }
  .slide_description-wrap{
    padding-left: 0;
    padding-right: 0;
  }
  .slide-name{
    font-size: em(65px);
    line-height: 40px;
  }
  .slide_main-description{
    padding: 0 30px;
    font-size: em(21px);
  }
  .slide_description{
    padding: 0 30px;
    font-size: em(14px);
  }
  .soc{
    margin-bottom: 25px;
  }
  .all-services_wrap{
    margin-bottom: 0;
  }
  .section_description{
    font-size: em(21px);
    padding: 0 0 25px;
  }
  .section_slogan{
    text-align: center;
  }
  .slogan{
    float: none;
    margin-top: 40px;
    text-align: center;
  }
  .slogan-img_pc{
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  .reviews-item {
    padding: 0;
    &_photo{
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &_author-name,
    &_author-position,
    &_text {
      display: block;
      text-align: center;
    }
  }
  .section_reviews .owl-theme .owl-controls .owl-buttons div{
    top: 60px;
  }
  .section_reviews .owl-prev{
    left: 13%;
  }
  .section_reviews .owl-next{
    right: 13%;
  }
  .all-items_wrap {
    margin-bottom: 0;
    margin-top: 0;
  }
  .section_title__contact-page{
    display: table;
    margin: 0 auto;
  }
  .btn-back,.section-title_bg{
    display: none;
  }
  .portfolio-type{
    &_item{
      display: block;
      margin-left: 0;
    }
  }
  .section_title__top-news-item{
    padding: 10px 0;
    line-height: 45px;
  }
  .top-news_wrap .news-date{
    margin-top: 0;
  }
  .top-news_img{
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .section_title__news-page{
    display: table;
    text-align: center;
  }
}

/*
!*Disable Animation on Mobile Devices*!
.animated
  !*CSS transitions*!
-o-transition-property: none !important
-moz-transition-property: none !important
-ms-transition-property: none !important
-webkit-transition-property: none !important
transition-property: none !important
!*CSS transforms*!
-o-transform: none !important
-moz-transform: none !important
-ms-transform: none !important
-webkit-transform: none !important
transform: none !important
!*CSS animations*!
-webkit-animation: none !important
-moz-animation: none !important
-o-animation: none !important
-ms-animation: none !important
animation: none !important
*/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .logo-description {
    letter-spacing: 0.05em;
  }
  .logo-name{
    font-size: 2.6em;
    line-height: 45px;
  }
  .map{
    font-size: 16px;
  }
  .map.active .arrow-bottom{
    left: 47.5%;
  }
  .mail.active .arrow-bottom{
    left: 78%;
  }
  .section-slider{
    padding: 20px 10px;
  }
  .slide-name{
    font-size: 50px;
    padding-bottom: 20px;
  }
  .slide_main-description {
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .slide_description {
    margin-bottom: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 19px;
  }
  .order{
    margin-bottom: 10px;
  }
  .owl-theme .owl-controls .owl-buttons div{
    font-size: 70px;
  }
  .owl-prev {
    left: -3%;
  }
  .owl-next {
    right: -3%;
  }
  .section_title{
    font-size: em(30px);
    padding-left: 0;
    background-image: none;
  }
  .section_description{
    margin: 0 10px 30px;
    font-size: em(16px);
  }
  .slogan {
    font-size: 25px;
    line-height: 35px;
  }
  .slogan-img_pc{
    width: 170px;
  }
  .section_reviews .owl-prev{
    left: 2%;
  }
  .section_reviews .owl-next{
    right: 2%;
  }
  .customers_item{
    height: 150px;
    line-height: 150px;
    &__img{
      max-height: 150px;
    }
  }
  .footer{
    padding: 25px 0 30px 0;
    &-nav{
      &_item{
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 22px;
        text-transform: uppercase;
        &:first-child{
          margin-left: 0;
        }
        &.active, &:hover{
          font-weight: bold;
        }
      }
    }
    &-soc{
      margin-top: 30px;
      margin-bottom: 30px;
      &_item{
        display: inline-block;
        padding: 17px 20px 20px 17px;
        border-right: 1px solid #a3b3bf;
        font-size: 24px;
      }
    }
  }
  .section_title__contact-page{
    background-image: url("../img/geo.png");
    padding-left: 70px;
    line-height: 55px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}

@media only screen and (min-width : 992px) {
  .map{
    margin-top: -7px;
    font-size: 16px;
    line-height: 19px;
  }
}