@import "bourbon/bourbon";
@import "vars.scss";
@import "sprite.scss";
@import "retina.scss";
/*-------------main----------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.right{
  float: right;
}
.left{
  float: left;
}
.center{
  text-align: center;
}
.hidden {
  display: none;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {clear: both;}

::-webkit-input-placeholder {color:#e4e4e4;}
::-moz-placeholder          {color:#e4e4e4;}/* Firefox 19+ */
:-moz-placeholder           {color:#e4e4e4;}/* Firefox 18- */
:-ms-input-placeholder      {color:#e4e4e4;}

body{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #6d6e71;
  font-family: "OpenSansRegular", $helvetica;
  font-size: em(17px);
  line-height: em(24px);
}
.section_title {
  font-size: 2.75em;
  line-height: 1.5em;
  display: table;
  padding-left: 70px;
  margin: 0 auto;
}
.section_description{
  padding: 0 10% 25px;
  margin: 0 40px 30px;
  background: url("../img/dotted.png") center bottom repeat-x;
  font-family: "OpenSansLight", $helvetica;
  font-size: em(27px);
  line-height: em(22px);
  text-align: center;
}
.all-items_wrap {
  margin-bottom: -50px;
  margin-top: 35px;
  position: relative;
  text-align: right;
}
.all-items{
  padding: 2px 0 5px 30px;
  background-size: 23px !important;
}
.all-items:hover {
  text-decoration: underline;
}

.retina {
  background: url("../img/sprites/sprite.png") no-repeat;
  background-size: 54px 470px; }
/*
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .retina {
    background: url("../img/sprites/sprite@2x.png") no-repeat;
    background-size: 54px 470px; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina {
    background: url("../img/sprites/sprite@2x.png") no-repeat;
    background-size: 54px 470px; } }
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .retina {
    background: url("../img/sprites/sprite@3x.png") no-repeat;
    background-size: 54px 470px; } }
*/
/*--------------------END main-------------------------*/

/*---------------------header------------------------*/
.header{
  position: relative;
  padding: 15px 30px;
  background-color: #fff;
  z-index:5;
}
.lang,
.contact{
  width: 100%;
  margin: 0 auto;
}
.lang_item-wrap,
.contact_item-wrap{
  float: left;
  width: 33.333%;
  border-left: 1px solid #bcbec3;
  line-height: 30px;
  text-align: center;
}
.contact_item-wrap {
  line-height: 25px;
}
.lang_item-wrap:first-child,
.contact_item-wrap:first-child{
  border-left:none;
}
.fa:hover,
.fa.active{
  color: #ee515f;
  cursor: pointer;
}
.lang_item{
  padding: 0 10px;
  color: #47667e;
  font-family: "OpenSansBold", $helvetica;
  font-size: em(22px);
  text-transform: uppercase;
}
.lang_item:hover,
.lang_item.active {
  color: #ffffff;
  background-color: $hover-color;
  cursor: pointer;
}
.contact-show{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0 20px 0;
  padding-top: 10px;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  text-align: center;
  font-family: "OpenSansLight", $helvetica;
  font-size: em(15px);
  font-weight: bold;
}
.arrow-bottom{
  display: none;
  position: absolute;
  bottom: -12px;
  width: 33px;
  height: 12px;
  background: url("../img/arrow_bottom.png") center no-repeat;
  transition: all 0.8s ease;
}
.phone,
.map,
.mail{
  display: none;
  font-size: 20px;
}
.phone.active .arrow-bottom{
  display: block;
  left: 10%;
  transition: all 0.8s ease;
}
.map.active .arrow-bottom{
  display: block;
  left: 43%;
  transition: all 0.8s ease;
}
.mail.active .arrow-bottom{
  display: block;
  left: 75%;
  transition: all 0.8s ease;
}
.phone.active,
.map.active,
.mail.active{
  display: block;
}
.logo-wrap{
  margin: 20px 0 40px 0;
}
.logo-text-wrap{
  display: inline-block;
  margin-left: 15px;
  text-align: center;
}
.logo-name{
  color: #d4d4d5;
  font-family: "OpenSansBold", $helvetica;
  font-size: em(56px);
  line-height: 40px;
  text-transform: uppercase;
}
.logo-name_first{
  color: $hover-color;
}
.logo-description{
  letter-spacing: 3.8px;
  color: #6d6e71;
}
.nav_item{
  margin-right: 25px;
  color: #6d6e71;
  font-family: "OpenSansRegular", $helvetica;
  font-size: em(22px);
  text-transform: uppercase;
}
.nav_item:last-child {
  margin-right: 0;
}
.nav_item:hover,
.nav_item.active{
  color: $hover-color;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.button-menu{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding-top: 12px;
  background-color: #47667e;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  transition: all 0.8s ease;
}
.button-menu.active{
  top: 197px;
  transition: all 0.8s ease;
}
.close.icon:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  transform: rotate(45deg);
}

.close.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  transform: rotate(-45deg);
}

.close.icon {
  color: #fff;
  position: absolute;
  left: 50%;
  margin-top: 2px;
  margin-left: -70px;
  width: 21px;
  height: 21px;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon {
  color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  margin-top: 12px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.icon,
.icon:before,
.icon:after {
  transition: all 0.8s ease;
}
/*-------------------END header----------------------*/
/*-------------------Slider section----------------------*/
.section-slider{
  padding-top: 65px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}
.section-slider_bg{
  min-height: 875px;
  margin-top: -875px;
  background: #47667e url("../img/slider-bg.png") center;
  transform: skewY(-9deg);
}
.slide_img-wrap{
  padding-left: 40px;
}
.slide-img{
  max-width: 100%;
}
.slide_description-wrap{
  color: #ffffff;
  padding-top: 40px;
  padding-right: 40px;
}
.slide-name{
  padding-bottom: 35px;
  font-family: "OpenSansBold", $helvetica;
  font-size: em(85px);
  line-height: 65px;
}
.slide_main-description{
  margin-bottom: 35px;
  font-family: "OpenSansLight", $helvetica;
  font-size: em(27px);
}
.slide_description{
  margin-bottom: 80px;
  font-family: "OpenSansLight", $helvetica;
  font-size: em(17px);
}
.order{
  width: 180px;
  height: 50px;
  border: 2px solid #fff;
  background-color: inherit;
  color: #ffffff;
  font-family:"OpenSansRegular", $helvetica;
  font-size: 16px;
  text-transform: uppercase;
}
.order:hover{
  background-color: $hover-color;
  cursor: pointer;
  font-weight: bold;
}
/*-------------------END Slider section----------------------*/
/*-------------------Services section----------------------*/
.section_services{
  margin-top: -35px;
}
.soc{
  position: relative;
  margin-bottom: 50px;
  text-align: right;
  z-index: 5;
}
.soc_item{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}
.soc .fa-facebook-official{
  color: #2b75b2;
}
.soc .fa-twitter{
  color: #1faae2;
}
.soc .fa-instagram{
  color: #26658e;
}
.soc .fa-vk{
  color: #2b75b2;
}
.section_title__services{
  background-position: 0 -407px;
}
.all-services{
  background-position: 0 -174px;
}
.services_item{
  display: block;
  padding:0 5%;
  margin-bottom: 40px;
  text-align: center;
}
.services_item:hover{
  cursor: pointer;
}
.services_item:hover .services_item__title{
  color: #ee515f;
  text-decoration: underline;
}
.services_item:hover .services_item__description{
  text-decoration: underline;
}
.services_item__img{
  max-width: 100%;
}
.services_item__title{
  margin-top: 5px;
  font-family: "OpenSansSemiBold", $helvetica;
  font-size: em(25px);
}
.services_item__description{
  margin-top: 10px;
  padding: 0 20%;
  font-family: "OpenSansLight", $helvetica;
  font-size: em(17px);
}
/*-------------------END services section----------------------*/
/*-------------------news section----------------------*/
.section_news{
  padding-top: 40px;
  background: #08c5a1 url("../img/slider-bg.png") center;
  color: #fff;
}
.all-news{
  background-position: 0 -130px;
}
.news_item{
  padding: 0;
  margin: 0 10% 40px;
}
.section_title__news{
  background-position: 0 -302px;
}
.news_item__title{
  margin-top: 25px;
  transition: all .5s ease;
}
.news_item__description{
  padding: 0;
  font-family: "OpenSansLightItalic", $helvetica;
  transition: all .5s ease;
}
.news-date{
  float: left;
  width: 44px;
  height: 44px;
  margin-top: 3px;
  padding-top: 4px;
  border: 2px solid #47667e;
  color: #47667e;
  font-family: "OpenSansBold", $helvetica;
  font-size: em(16px);
  line-height: 18px;
}
.news-date_month{
  font-size: em(8px);
  text-transform: uppercase;
  font-family: "OpenSansRegular", $helvetica;
}
.section_description__white{
  background: url("../img/dotted_white.png") center bottom repeat-x;
}
.news-button{
  width: 150px;
  height: 40px;
  margin-top: 25px;
  border: none;
  background-color: #47667e;
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSansRegular", $helvetica;
  font-size: em(13px);
  transition: all .5s ease;
}
.services_item:hover .news_item__title{
  color: #fff;
  text-decoration: underline;
  transition: all .5s ease;
}
.services_item:hover .news-button{
  background: #ee515f;
  transition: all .3s ease;
}
/*-------------------END news section----------------------*/
/*-------------------Portfolio section----------------------*/
.section_portfolio{
  padding-bottom: 90px;
  padding-top: 15px;
  background: url("../img/portfolio_bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
}
.section_title__portfolio{
  background-position: 0 10px;
}
.all-portfolio{
  background-position: 0 3px;
}
.portfolio-type{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  &_item{
    display: inline-block;
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 21px;
    transition: all .5s ease;
    &:first-child{
      margin-left: 0;
    }
    &:hover, &.active{
      background-color: #ee515f;
      color: #fff;
      cursor: pointer;
      transition: all .5s ease;
    }
  }
}
.portfolio_item{
  display: block;
  margin-bottom: 30px;
  &__img{
    position: relative;
    width: 100%;
    height: 320px;
    background-size: cover;
  }
  &-description{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 120px 10% 10% 10%;
    background: rgba(8, 197,161, .85) url("../img/magnifier.png") center 40px no-repeat;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all .5s ease;
    .section_title{
      padding-left: 0;
    }
  }
  &:hover .portfolio_item-description{
    opacity: 1;
    transition: all .5s ease;
  }
}
/*-------------------END Portfolio section----------------------*/
/*-------------------Slogan section----------------------*/
.section_slogan{
  min-height: 360px;
  padding-bottom: 30px;
  background: #ee515f url('../img/slider-bg.png') center no-repeat;
  text-align: right;
}
.slogan{
  float: right;
  margin-top: 100px;
  text-align: right;
  color: #ffffff;
  font-family: "OpenSansLight", sans-serif;
  font-size: 52px;
  line-height: 55px;
  &-img_bg{
    position: absolute;
    top: -70px;
    left: 5%;
    width: 90%;
  }
  &-img_pc{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 30%;
  }
  &_btn{
    width: 180px;
    height: 50px;
    border: 2px solid #fff;
    background: inherit;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s ease;
    &:hover{
      background: #fff;
      color: #ee515f;
      cursor: pointer;
      transition: all 0.5s ease;
    }
  }
}
/*-------------------END Slogan section----------------------*/
/*-------------------Reviews section----------------------*/
.section_reviews{
  margin-top: 30px;
}
.section_title__reviews{
  background-position: 0 -93px;
}
.all-reviews{
  background-position: 0 -40px;
}
.reviews-item {
  padding: 0 40px 0 40px;
  &_photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
  }
  &_author-name{
    font-size: 41px;
    color: #ee515f;
  }
  &_author-position{
    font-size: 26px;
  }
  &_text{
    margin-top: 10px;
    background: url("../img/reviews_bg.png") 90% 100% no-repeat;
    font-size: 18px;
    font-family: "OpenSansLightItalic";
  }
}
/*-------------------END Reviews section----------------------*/
/*-------------------Customers section----------------------*/
.section_customers{
  margin-top: -80px;
  padding-top: 200px;
  background: url("../img/—Åcustomer_bg.png") center top no-repeat;
  background-size: cover;
}
.section_title__customers{
  background-position: 0 -197px;
}
.all-customers{
  background-position: 0 -84px;
}
.customers_item {
  width:100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  &__img{
    max-width:100%;
    max-height:200px;
    vertical-align: middle;
  }
}

/*-------------------END Customers section----------------------*/
/*-------------------Footer----------------------*/
.footer{
  margin-top: -2px;
  padding: 65px 0 30px 0;
  background-color: #47667e;
  color: #a3b3bf;
  text-align: center;
  &-nav{
    &_item{
      display: inline-block;
      margin-left: 25px;
      font-size: 22px;
      text-transform: uppercase;
      &:first-child{
        margin-left: 0;
      }
      &.active, &:hover{
        font-weight: bold;
      }
    }
  }
  &-soc{
    margin-top: 30px;
    margin-bottom: 30px;
    &_item{
      display: inline-block;
      padding: 17px 20px 20px 17px;
      border-right: 1px solid #a3b3bf;
      font-size: 24px;
    }
  }
}
.logo-wrap_footer{
  margin: 20px 0 40px 0;
}
.logo-text-wrap_footer{
  display: inline-block;
  margin-left: 15px;
  text-align: center;
}
.logo-name_footer{
  color: #a3b3bf;
  font-family: "OpenSansBold", $helvetica;
  font-size: em(56px);
  line-height: 40px;
  text-transform: uppercase;
}
.logo-name_first__footer{
  color: #a3b3bf;
}
.logo-description_footer{
  letter-spacing: 3.8px;
  color: #a3b3bf;
}
/*-------------------END Footer----------------------*/
/*-------------------Contact page----------------------*/
.page-content{
  padding: 20px 0 50px;
}
.btn-back{
  display: inline-block;
  float: right;
  padding-left: 30px;
  background: url("../img/arrow_back.png") left center no-repeat;
  font-family: "OpenSansLight", sans-serif;
  font-size: 15px;
  text-decoration: underline;
}
.section_title__contact-page{
  position: relative;
  display: inline-block;
  text-align: left;
  background: #fff url("../img/geo.png") left center no-repeat;
  z-index: 1;
}
.section-title_bg{
  position: relative;
  top: -30px;
  width: 100%;
  height: 5px;
  background: url("../img/dotted.png") center repeat-x;
  z-index: 0;
}
.contact-map{
  height: 480px;
  margin-bottom: 30px;
  padding-right: 40px;
}
.address{
  font-family: "OpenSansSemiBold", sans-serif;
  &-block{
    margin-bottom: 35px;
  }
}
.callback{
  &-name {
    padding-left: 55px;
    margin-bottom: 20px;
    background: url('../img/letter.png') left center no-repeat;
    font-family: "OpenSansLight", sans-serif;
    font-size: 27px;
    line-height: 40px;
  }
  input,textarea{
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #e4e4e4;
    color: #e4e4e4;
  }
  input{
    height: 40px;
  }
  textarea{
    width: 100% !important;
    padding-top: 10px;
  }
}
.btn_send{
  float: right;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ee515f;
  color: #fff;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
/*-------------------END Contact page----------------------*/
/*-------------------Owl-carousel----------------------*/
.owl-carousel .owl-wrapper-outer{
  z-index: 1;
}
.owl-theme .owl-controls .owl-page span{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: #fff;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span:hover {
  background-color: $hover-color;
}
.owl-pagination{
  margin-top: 70px;
  text-align: left;
  margin-left: 20%;
}
.section_reviews .owl-pagination{
  display: none;
}
.owl-theme .owl-controls .owl-buttons div{
  position: absolute;
  bottom: 48%;
  padding: 0;
  background: inherit;
  opacity: 1;
  font-size: 100px;
  z-index: 2;
}
.owl-prev{
  left: -2%;
}
.owl-next{
  right: -2%;
}
.section_reviews .owl-theme .owl-controls .owl-buttons div{
  top: 200px;
  font-size: 82px;
}
.section_reviews .owl-prev{
  left: 7%;
}
.section_reviews .owl-next{
  right: 80%;
}
.owl-theme .owl-controls .owl-buttons div .fa:hover,
.section_reviews .owl-theme .owl-controls .owl-buttons div .fa:hover{
  color: $hover-color;
}
.section_reviews .owl-theme .owl-controls .owl-buttons div .fa{
  color: #ececec;
}
/*-------------------END Owl-carousel----------------------*/

//ALWAYS END
@import "media.scss";